In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('train_XY_No4.csv')

In [31]:
data.head()

,time,speed,total_voltage,total_current,soc,temp_max,temp_min,motor_voltage,motor_current,mileage,label
0,2.018010e+13,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,33842.8,0.0
1,2.018010e+13,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,33842.8,0.0
2,2.018010e+13,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,33842.8,0.0
3,2.018010e+13,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,33842.8,0.0
4,2.018010e+13,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,33842.8,0.0

## 定义时间转换函数

In [32]:
import dateutil
def time_transform(data):
    time_array = data['time'].astype('int64').astype('str').values
    for i in range(len(time_array)):
        time_array[i] = dateutil.parser.parse(time_array[i]).strftime('%Y-%m-%d %H:%M:%S')
    time_Index = pd.to_datetime(time_array)
    time_diff_array = np.zeros((len(time_Index)))
    for i in range(len(time_Index)):
        if i == 0:
            time_diff_array[i] = 10
        else:
            time_diff_array[i] = (time_Index[i] - time_Index[i-1]).seconds
    time_seconds = pd.DataFrame(time_diff_array, columns=['time_seconds'])
    data_final = pd.concat([data.iloc[:,[1,2,3,4,5,6,7,8,10]],time_seconds], axis=1)
    
    return data_final

In [33]:
data_trans = time_transform(data)

In [34]:
data_trans.head()

,speed,total_voltage,total_current,soc,temp_max,temp_min,motor_voltage,motor_current,label,time_seconds
0,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,0.0,10.0
1,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,0.0,10.0
2,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,0.0,10.0
3,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,0.0,10.0
4,0.0,538.2,-19.0,38.0,30.0,21.0,0.0,0.0,0.0,10.0

In [35]:
data_trans.to_csv('train_XY_s4.csv',index=False)