In [1]:
import lightgbm as lgb

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [3]:
## 加载数据
data = pd.read_csv('train_XY.csv')
data.head()

,speed,total_voltage,total_current,soc,temp_max,temp_min,motor_voltage,motor_current,label,time_seconds
0,0.0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0,0.0,10.0
1,0.0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0,0.0,10.0
2,0.0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0,0.0,10.0
3,0.0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0,0.0,10.0
4,0.0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0,0.0,10.0

In [4]:
x,y = data.ix[:, 1:-2],data.ix[:,0]
x.head()

,total_voltage,total_current,soc,temp_max,temp_min,motor_voltage,motor_current
0,539.1,-19.0,46.0,32.0,21.0,0.0,0.0
1,539.1,-19.0,46.0,32.0,21.0,0.0,0.0
2,539.1,-19.0,46.0,32.0,21.0,0.0,0.0
3,539.1,-19.0,46.0,32.0,21.0,0.0,0.0
4,539.1,-19.0,46.0,32.0,21.0,0.0,0.0

In [5]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: speed, dtype: float64

In [6]:

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1314)
print(len(x_train))

print(len(x_test))

947972
406274

In [7]:
model = lgb.LGBMRegressor(learning_rate=0.1, max_depth=10,n_estimators=270, min_child_samples=40,num_leaves=220)

In [8]:
model.fit(x_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=10,
              min_child_samples=40, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=270, n_jobs=-1, num_leaves=220, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [9]:
ans = model.predict(x_test)
ans2 = model.predict(x_train)

In [10]:
from sklearn import metrics
print("MSE:",metrics.mean_squared_error(y_test, ans))
print("r2_score:", metrics.r2_score(y_test, ans))
print("MSE2:", metrics.mean_squared_error(y_train, ans2))
print("r2_score:", metrics.r2_score(y_train, ans2))

MSE: 19.48117224035311
r2_score: 0.949415448000211
MSE2: 16.39330548982228
r2_score: 0.957390212967865

In [11]:
##  模型保存

import pickle 
with open('model/lgb.pickle', 'wb') as f:
    pickle.dump(model, f)